<?php
    use ui\UI;
    use Scandio\lmvc\modules\assetpipeline\view\Asset;
    use Scandio\lmvc\modules\i18n\I18nWrapper;
    use Scandio\lmvc\modules\security\Security;
    use \models\Locations;
    use Scandio\lmvc\modules\session\Session;
    use util\Location;
    use \models\OpenTimes;
    $openTime = new \models\OpenTimes();

    $commentsModel = new \models\Comments();
    $usersModel = new \models\Users();
	$commentCount = 0;
	$diff = OpenTimes::getTimeLeftOpen($restaurant->id);
	$customerLoggedIn = Security::get()->currentUser()->isInGroup("Customer");
?>

<?= UI::js(Asset::assets(['jquery.favorites.js', 'jquery.time-to-get.js' ], ['path' => 'views'])) ?>

<div class="row-fluid content-header">

    <div class="span1">
        <?php if($customerLoggedIn): ?>
            <?php if(Locations::isFavoriteLocation($restaurant->id)): ?>
                <a class="favoriteloc-btn" href="#" data-locationid="<?= $restaurant->id ?>">
                    <img width=100 src="<?= Asset::image(['favorite.png']) ?>"
                         data-otherwise="<?= Asset::image(['not_favorite.png']) ?>" alt="" />
                </a>
            <?php else: ?>
                <a class="favoriteloc-btn" href="#" data-locationid="<?= $restaurant->id ?>">
                    <img width=100 src="<?= Asset::image(['not_favorite.png']) ?>"
                         data-otherwise="<?= Asset::image(['favorite.png']) ?>" alt="" />
                </a>
            <?php endif ?>
        <?php endif ?>
    </div>
    <div class="span7">
        <h1><?= $restaurant->restaurant ?></h1>

        <h4><a href="<?= $app->url('Dishes::map', $restaurant->user_id) ?>"><?= $restaurant->street ?></a></h4>

        <h5><a href="tel:<?= $restaurant->phone ?>"><?= $restaurant->phone ?></a></h5>


        <small><?= I18nWrapper::translate('youCanReachThisPlaceIn'); ?><span id="time-left" data-longitude="<?= $restaurant->longitude ?>" data-latitude="<?= $restaurant->latitude ?>"></span>
        <?php if ($diff <> null): ?>
            <?= I18nWrapper::translate('but'); ?>
            <?php if ($diff == -1): ?>
                <?= I18nWrapper::translate('thisPlaceIsClosed'); ?> </small>
            <?php else: ?>
                <?= I18nWrapper::translate('itClosesIn'); ?> <?= $diff?></small>
            <?php endif ?>
        <?php endif ?>
        
        <?php $resultOpenTime = $openTime->getOpeningTimeswd($restaurant->id); ?>
			<?php if ($resultOpenTime!=null): ?>
			<h4><?= I18nWrapper::translate('openTimes'); ?></h4>
			<h5><?= I18nWrapper::translate('weekday'); ?> 
			<?php 
				$result1 = mktime($resultOpenTime->opening_time,00);
				$result2 = mktime($resultOpenTime->closing_time,00); 
			?>
			<?= date("H:i", $result1) ?> - <?= date("H:i", $result2) ?>
			</h5>                            	
			<?php $resultOpenTime = $openTime->getOpeningTimeswe($restaurant->id); ?>
			<h5><?= I18nWrapper::translate('weekend'); ?>
			<?php 
				$result1 = mktime($resultOpenTime->opening_time,00);
				$result2 = mktime($resultOpenTime->closing_time,00); 
			?>
			<?= date("H:i", $result1) ?> - <?= date("H:i", $result2) ?>
			</h5>
        <?php endif; ?>
		
		<?php if($customerLoggedIn): ?>
			<div class="commenting">
				<a id="<?= $commentCount ?>" class="expCommenting"><?= I18nWrapper::translate('addComment'); ?></a>
				<form id="commentingForm<?= $commentCount ?>" class="commentingForm" method="POST" action="<?= $app->url('Imbiss::saveRestaurantComment', ['handle'=>$restaurant->handle, 'locationId'=>$restaurant->id]) ?>">
					<fieldset>
					<?= UI::textAreaCounter($commentCount, null, null, I18nWrapper::translate('yourComment'), false, 1, 500) ?>
					</fieldset>
				</form>
			</div>
		<?php else :?>
			<div><?= I18nWrapper::translate('commentDisabled'); ?> <a href="<?= $app->url('Security::login')?>"><?= I18nWrapper::translate('navigateToLogin'); ?></a></div>
		<?php endif; ?>
    </div>

    <a href="<?= $app->url('Dishes::map', $restaurant->user_id) ?>">
        <div id="map-small" data-userid=<?= $restaurant->user_id ?> class="span4"></div>
    </a>
</div>

<?php
    $restaurantComments = $commentsModel->getCommentsByRestaurant($restaurant->id);
?>
<div>
    <ul class="expComments">
        <li>
        <?php if($restaurantComments->count() == 0): ?>
			<?= I18nWrapper::translate('noComments'); ?>
        <?php else: ?>
			<?= I18nWrapper::translate('toggleComments'); ?>
        <?php endif; ?>
            <ul>
            <?php foreach($restaurantComments as $restaurantComment): ?>
            <li>
                <?php
                   $userName = $usersModel->getUsernameByCustomerId($restaurantComment->created_by);
                ?>
                <p>
                <div><span><?= I18nWrapper::translate('commentCreatedAt'); ?> </span><b><?= $restaurantComment->creation_date ?></b><span>, <?= I18nWrapper::translate('commentCreatedBy'); ?> </span><b><?= $userName ?></b></div>
                <div><?= $restaurantComment->description ?></div>
                </p>
            </li>
            <?php endforeach; ?>
            </ul>
        </li>
    </ul>
</div>

<div class="ios-list-wrap">
    <div class="patat-list">
        <dl>
            <dt><?= I18nWrapper::translate('currentOffers'); ?></dt>

            <?php if (count($advertisedDishes) > 0): ?>
            <?php foreach($advertisedDishes as $advertisedDish): ?>
                <dd class="">
                    <div class="span3 hidden-phone">
                        <a class="image" href="<?= $app->url('Dishes::map', $advertisedDish->user_id) ?>">
                            <?php if($advertisedDish->img): ?>
                            <img width=90 src="<?= Asset::image(['uploads', $advertisedDish->img], ['w' => 400, 'h' => 300]) ?>" alt="" />
                            <?php else: ?>
                            <img width=90 src="<?= Asset::image(['uploads', 'placeholder.png']) ?>" alt="" />
                            <?php endif; ?>
                        </a>
                    </div>
                    <div class="description span9">
                        <div class="row-fluid">
                            <h2>
                                <?= $advertisedDish->name ?>
                                <span class="price">
                                    <small>Price:</small> <?= $advertisedDish->price ?> €
                                </span>
                            </h2>
                            <?php if($advertisedDish->category_id != null): ?>
                            <div class="span8">
                                <h4>
                                    <?= \models\Categories::getNameById($advertisedDish->category_id); ?>
                                </h4>
                            </div>
                            <?php endif ?>
                            <p class="span8">
                                <?= $advertisedDish->description ?>
                            </p>

                            <div class="span8">
                            <div id="rating_<?= $advertisedDish->id ?>_<?= $restaurant->id ?>" class="rating_container">
                                <?php
                            $potatoes=5;

                            $ratingLabel=array(I18nWrapper::translate('ratingOne'),I18nWrapper::translate('ratingTwo'),I18nWrapper::translate('ratingThree'),I18nWrapper::translate('ratingFour'),I18nWrapper::translate('ratingFive'));
                            for ($rated=1; $rated<=($advertisedDish->avg_rating); $rated++ ){
                                ?>
                                <input id="inp_<?= $advertisedDish->id ?>_<?= $restaurant->id ?>_<?= $rated ?>" name="potato_<?= $advertisedDish->id ?>_<?= $restaurant->id ?>" type="radio"
                                       class="potato required" style="display: none;" disabled="disabled" checked="checked" value="<?= $ratingLabel[$rated-1] ?>">
                                <?php
                                $potatoes--;
                            }
                            if($potatoes!=0):
                                $nonRated = (is_null($advertisedDish->avg_rating)) ? 0 : intval($advertisedDish->avg_rating);
                                for (; $nonRated<5; $nonRated++ ){
                                ?>
                                <input id="inp_<?= $advertisedDish->id ?>_<?= $restaurant->id ?>_<?= ($nonRated + 1) ?>" name="potato_<?= $advertisedDish->id ?>_<?= $restaurant->id ?>" type="radio"
                                       class="potato required" style="display: none;" disabled="disabled" value="<?= $ratingLabel[$nonRated] ?>">
                                <?php
                                $potatoes--; }
                            endif;
                        ?>
                            </div>
                            <div id="avg_<?= $advertisedDish->id ?>_<?= $restaurant->id ?>" class="rating_container">
                                &nbsp;
                                <?= (is_null($advertisedDish->avg_rating)) ? '0.00' : $advertisedDish->avg_rating ?>
                                (<?= (is_null($advertisedDish->num_votes)) ? '0' : $advertisedDish->num_votes ?> <?= I18nWrapper::translate('votes'); ?>)
                            </div>

                            <?php if(Security::get()->isAuthenticated() AND Security::get()->currentUser()->isInGroup("Customer") ): ?>
                            <div class="rateUs">
                                <a id="_<?= $advertisedDish->id ?>_<?= $restaurant->id ?>" class="exp"><?= I18nWrapper::translate('rateMe'); ?></a>
                                <div id="user_rating_<?= $advertisedDish->id ?>_<?= $restaurant->id ?>" class="rate_me_conatainer">
                                    <?php
                                $potatoes=5;
                                $dishCustomerRating = $dishesRatingMap[$advertisedDish->id];
                                    for ($rated=1; $rated<=($dishCustomerRating); $rated++ ){
                                    ?>
                                    <input name="user_potato_<?= $advertisedDish->id ?>_<?= $restaurant->id ?>" type="radio"
                                           class="potato required" style="display: none;" checked="checked" value="<?= $ratingLabel[$rated-1] ?>">
                                    <?php
                                    $potatoes--;
                                }
                                if($potatoes!=0):
                                    $nonRated = (is_null($dishCustomerRating)) ? 0 : $dishCustomerRating;
                                    for(; $nonRated<5; $nonRated++ ){
                            ?>
                                    <input name="user_potato_<?= $advertisedDish->id ?>_<?= $restaurant->id ?>" type="radio"
                                           class="potato required" style="display: none;" value="<?= $ratingLabel[$nonRated] ?>">
                                    <?php
                                    $potatoes--;
                                }
                                endif;
                            ?>
                                </div>
                            </div>
                            <?php endif; ?>
							
							<?php
								$dishComments = $commentsModel->getCommentsByDish($advertisedDish->id);
								$commentCount = $commentCount + 1;
							?>
							<?php if($customerLoggedIn):?>
							<div class="commenting">
								<a id="<?= $commentCount ?>" class="expCommenting"><?= I18nWrapper::translate('addComment'); ?></a>
								<form id="commentingForm<?= $commentCount ?>" class="commentingForm" method="POST" action="<?= $app->url('Imbiss::saveDishComment', ['handle'=>$restaurant->handle, 'DishId'=>$advertisedDish->id]) ?>">
									<fieldset>
									<?= UI::textAreaCounter($commentCount, null, null, I18nWrapper::translate('yourComment'), false, 1, 500) ?>
									</fieldset>
								</form>
							</div>
							<?php else :?>
								<div><?= I18nWrapper::translate('commentDisabled'); ?> <a href="<?= $app->url('Security::login')?>"><?= I18nWrapper::translate('navigateToLogin'); ?></a></div>
							<?php endif; ?>
                          </div>

                        </div>
                    </div>
                </dd>

				<div>
                    <ul class="expComments">
                        <li>
                        <?php if($dishComments->count() == 0): ?>
							<?= I18nWrapper::translate('noComments'); ?>
						<?php else: ?>
							<?= I18nWrapper::translate('toggleComments'); ?>
						<?php endif; ?>
                            <ul>
                            <?php foreach($dishComments as $dishComment): ?>
                            <li>
                                <?php
                                   $userName = $usersModel->getUsernameByCustomerId($dishComment->created_by);
                                ?>
                                <p>
                                <div><span><?= I18nWrapper::translate('commentCreatedAt'); ?> </span><b><?= $dishComment->creation_date ?></b><span>, <?= I18nWrapper::translate('commentCreatedBy'); ?> </span><b><?= $userName ?></b></div>
                                <div><?= $dishComment->description ?></div>
                                </p>
                            </li>
                            <?php endforeach; ?>
                            </ul>
                        </li>
                    </ul>
                </div>

            <?php endforeach; ?>
            <?php else: ?>
            <div class="alert alert-info">
                <strong><?= I18nWrapper::translate('sorry'); ?></strong> <?= I18nWrapper::translate('weDontHaveOffers'); ?>
            </div>
            <?php endif; ?>
        </dl>
    </div>

    <?php if (count($groupedDishes) > 0): ?>
        <div class="row-fluid">
            <div class="pagination pagination-medium">
                <ul>
                    <?php
                        $alphabet = range('A', 'Z');

                        foreach ($alphabet as $letter) {
                            echo '<li class="active"><a href="#'.$letter.'">'.$letter.'</a></li>';
                    }
                    ?>
                </ul>
            </div>
        </div>
    <?php endif; ?>

    <div class="patat-list">
        <dl>
            <dt><?= I18nWrapper::translate('moreSnacks'); ?> </dt>

            <?php if (count($unadvertisedDishes) > 0): ?>
                <?php foreach($unadvertisedDishes as $dish): ?>
                    <dd class="">
                        <div class="span3 hidden-phone">
                            <a class="image" href="<?= $app->url('Dishes::map', $unadvertisedDishes->user_id) ?>">
                                <?php if($dish->img): ?>
                                    <img width=100 src="<?= Asset::image(['uploads', $dish->img]) ?>" alt="" />
                                <?php else: ?>
                                    <img width=100 src="<?= Asset::image(['uploads', 'placeholder.png']) ?>" alt="" />
                                <?php endif; ?>
                            </a>
                        </div>
                        <div class="description span9">
                            <div class="row-fluid">
                                <h1>
                                    <?= $dish->name ?> <span class="price"><?= $dish->price ?> €</span>
                                </h1>
                                <?php if($dish->category_id != null): ?>
                                <div class="span8">
                                    <h4>
                                        <?= \models\Categories::getNameById($dish->category_id); ?>
                                    </h4>
                                </div>
                                <?php endif ?>
                                <p class="span8">
                                    <?= $dish->description ?>
                                </p>
                            </div>
							
							<?php
								$dishComments = $commentsModel->getCommentsByDish($dish->id);
								$commentCount = $commentCount + 1;
							?>
							<?php if($customerLoggedIn):?>
							<div class="commenting">
								<a id="<?= $commentCount ?>" class="expCommenting"><?= I18nWrapper::translate('addComment'); ?></a>
								<form id="commentingForm<?= $commentCount ?>" class="commentingForm" method="POST" action="<?= $app->url('Imbiss::saveDishComment', ['handle'=>$restaurant->handle, 'DishId'=>$dish->id]) ?>">
									<fieldset>
									<?= UI::textAreaCounter($commentCount, null, null, I18nWrapper::translate('yourComment'), false, 1, 500) ?>
									</fieldset>
								</form>
							</div>
							<?php else :?>
								<div><?= I18nWrapper::translate('commentDisabled'); ?> <a href="<?= $app->url('Security::login')?>"><?= I18nWrapper::translate('navigateToLogin'); ?></a></div>
							<?php endif; ?>
                        </div>
                    </dd>

					<div>
                        <ul class="expComments">
                            <li>
                                <?php if($dishComments->count() == 0): ?>
									<?= I18nWrapper::translate('noComments'); ?>
								<?php else: ?>
									<?= I18nWrapper::translate('toggleComments'); ?>
								<?php endif; ?>
                                <ul>
                                <?php foreach($dishComments as $dishComment): ?>
                                <li>
                                <?php
                                   $userName = $usersModel->getUsernameByCustomerId($dishComment->created_by);
                                ?>
                                <p>
                                <div><span><?= I18nWrapper::translate('commentCreatedAt'); ?> </span><b><?= $dishComment->creation_date ?></b><span>, <?= I18nWrapper::translate('commentCreatedBy'); ?> </span><b><?= $userName ?></b></div>
                                <div><?= $dishComment->description ?></div>
                                </p>
                                </li>
                                <?php endforeach; ?>
                                </ul>
                            </li>
                        </ul>
                    </div>

                <?php endforeach; ?>
            <?php else: ?>
                <div class="alert alert-info">
                    <strong><?= I18nWrapper::translate('sorry'); ?> </strong> <?= I18nWrapper::translate('weDontHaveSnacks'); ?>
                </div>
            <?php endif; ?>
        </dl>
    </div>
</div>

<script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps/api/js?sensor=true"></script>

<?= UI::js(Asset::assets(['gmaps.js'])) ?>
<?= UI::js(Asset::assets(['jquery.patatmap.js'], ['path' => 'plugins'])) ?>

<?= UI::js(Asset::assets(['jquery.imbiss-index.js'], ['path' => 'views'])) ?>
<?= UI::js(Asset::assets(['jquery.expand-collapse-list.js'], ['path' => 'views'])) ?>
<?= UI::js(Asset::assets(['jquery.rating.js'], ['path' => 'plugins'])) ?>
<?= UI::js(Asset::assets(['jquery.MetaData.js'], ['path' => 'plugins'])) ?>
