<?php
    use ui\UI;
    use Scandio\lmvc\modules\assetpipeline\view\Asset;
    use Scandio\lmvc\modules\i18n\I18nWrapper;
    use Scandio\lmvc\modules\security\Security;
    use \models\Locations;

    $commentsModel = new \models\Comments();
    $usersModel = new \models\Users();
	$commentCount = 0;
    
?>

<?= UI::js(Asset::assets(['jquery.favorites.js'], ['path' => 'views'])) ?>

<div class="row-fluid content-header">

    <div class="span1">
        <?php if(Security::get()->currentUser()->isInGroup("Customer")): ?>
            <?php if(Locations::isFavoriteLocation($restaurant->id)): ?>
                <a class="favoriteloc-btn" href="#" data-locationid="<?= $restaurant->id ?>">
                    <img width=100 src="<?= Asset::image(['favorite.png']) ?>"
                         data-otherwise="<?= Asset::image(['not_favorite.png']) ?>" alt="" />
                </a>
            <?php else: ?>
                <a class="favoriteloc-btn" href="#" data-locationid="<?= $restaurant->id ?>">
                    <img width=100 src="<?= Asset::image(['not_favorite.png']) ?>"
                         data-otherwise="<?= Asset::image(['favorite.png']) ?>" alt="" />
                </a>
            <?php endif ?>
        <?php endif ?>
    </div>
    <div class="span7">
        <h1><?= $restaurant->restaurant ?></h1>

        <h4><a href="<?= $app->url('Dishes::map', $restaurant->user_id) ?>"><?= $restaurant->street ?></a></h4>
        
        <h5><a href="tel:<?= $restaurant->phone ?>"><?= $restaurant->phone ?></a></h5>
        
        <h4>Opening times</h4>
        <h5>Monday - Friday: <?php $opentimes = new \models\OpenTimes();
                            	$resultopentimes = $opentimes->getOpeningTimeswd($restaurant->id); ?>
                            	 <?php foreach($resultopentimes as $selectedoptim):  ?>
                            	<?= $selectedoptim->opening_time ?> - <?= $selectedoptim->closing_time ?>
                            	<?php endforeach; ?>
                            	</h5>
        <h5>Saturday & Sunday: <?php $opentimes = new \models\OpenTimes();
                            	$resultopentimes = $opentimes->getOpeningTimeswe($restaurant->id); ?>
                            	 <?php foreach($resultopentimes as $selectedoptim):  ?>
                            	<?= $selectedoptim->opening_time ?> - <?= $selectedoptim->closing_time ?>
                            	<?php endforeach; ?>
                            	</h5>
    </div>

    <a href="<?= $app->url('Dishes::map', $restaurant->user_id) ?>">
        <div id="map-small" data-userid=<?= $restaurant->user_id ?> class="span4"></div>
    </a>
</div>

<?php
    $restaurantComments = $commentsModel->getCommentsByRestaurant($restaurant->id);
?>
<div>
    <?php if($loggedInCustomer != null):?>
		<form id="<?= $commentCount ?>" method="POST" action="<?= $app->url('Imbiss::saveRestaurantComment', ['handle'=>$restaurant->handle, 'customerId'=>$loggedInCustomer->id, 'locationId'=>$restaurant->id]) ?>">
			<fieldset>
			<?= UI::textAreaCounter($commentCount, null, null, I18nWrapper::translate('yourComment'), false, 1, 500) ?>
			</fieldset>
        </form>
    <?php else :?>
        <p><?= I18nWrapper::translate('commentDisabled'); ?> <a href="<?= $app->url('Security::login')?>"><?= I18nWrapper::translate('navigateToLogin'); ?></a></p>
    <?php endif; ?>

    <ul class="expList">
        <li>
        <?php if($restaurantComments->count() == 0): ?>
			<?= I18nWrapper::translate('noComments'); ?>
        <?php else: ?>
			<?= I18nWrapper::translate('toggleComments'); ?>
        <?php endif; ?>
            <ul>
            <?php foreach($restaurantComments as $restaurantComment): ?>
            <li>
                <?php
                   $userName = $usersModel->getUsernameByCustomerId($restaurantComment->created_by);
                ?>
                <p>
                <div><span><?= I18nWrapper::translate('commentCreatedAt'); ?> </span><b><?= $restaurantComment->creation_date ?></b><span>, <?= I18nWrapper::translate('commentCreatedBy'); ?> </span><b><?= $userName ?></b></div>
                <div><?= $restaurantComment->description ?></div>
                </p>
            </li>
            <?php endforeach; ?>
            </ul>
        </li>
    </ul>
</div>

<div class="ios-list-wrap">
    <div class="patat-list">
        <dl>
            <dt><?= I18nWrapper::translate('currentOffers'); ?></dt>

            <?php if (count($advertisedDishes) > 0): ?>
            <?php foreach($advertisedDishes as $advertisedDish): ?>
                <dd class="">
                    <div class="span3 hidden-phone">
                        <a class="image" href="<?= $app->url('Dishes::map', $advertisedDish->user_id) ?>">
                            <?php if($advertisedDish->img): ?>
                            <img width=90 src="<?= Asset::image(['uploads', $advertisedDish->img], ['w' => 400, 'h' => 300]) ?>" alt="" />
                            <?php else: ?>
                            <img width=90 src="<?= Asset::image(['uploads', 'placeholder.png']) ?>" alt="" />
                            <?php endif; ?>
                        </a>
                    </div>
                    <div class="description span9">
                        <div class="row-fluid">
                            <h1>
                                <?= $advertisedDish->name ?> <span class="price"><?= $advertisedDish->price ?> €</span>
                            </h1>
                            <?php if($advertisedDish->category_id != null): ?>
                            <div class="span8">
                                <h4>
                                    <?= \models\Categories::getNameById($advertisedDish->category_id); ?>
                                </h4>
                            </div>
                            <?php endif ?>
                            <p class="span8">
                                <?= $advertisedDish->description ?>
                            </p>
                        </div>
                    </div>
                </dd>

                <?php
                    $dishComments = $commentsModel->getCommentsByDish($advertisedDish->id);
					$commentCount = $commentCount + 1;
                ?>
                <div>
                    <?php if($loggedInCustomer != null):?>
						<form id="<?= $commentCount ?>" method="POST" action="<?= $app->url('Imbiss::saveDishComment', ['handle'=>$restaurant->handle, 'customerId'=>$loggedInCustomer->id, 'DishId'=>$advertisedDish->id]) ?>">
							<fieldset>
							<?= UI::textAreaCounter($commentCount, null, null, I18nWrapper::translate('yourComment'), false, 1, 500) ?>
							</fieldset>
						</form>
                    <?php else :?>
						<p><?= I18nWrapper::translate('commentDisabled'); ?> <a href="<?= $app->url('Security::login')?>"><?= I18nWrapper::translate('navigateToLogin'); ?></a></p>
                    <?php endif; ?>

                    <ul class="expList">
                        <li>
                        <?php if($dishComments->count() == 0): ?>
							<?= I18nWrapper::translate('noComments'); ?>
						<?php else: ?>
							<?= I18nWrapper::translate('toggleComments'); ?>
						<?php endif; ?>
                            <ul>
                            <?php foreach($dishComments as $dishComment): ?>
                            <li>
                                <?php
                                   $userName = $usersModel->getUsernameByCustomerId($dishComment->created_by);
                                ?>
                                <p>
                                <div><span><?= I18nWrapper::translate('commentCreatedAt'); ?> </span><b><?= $dishComment->creation_date ?></b><span>, <?= I18nWrapper::translate('commentCreatedBy'); ?> </span><b><?= $userName ?></b></div>
                                <div><?= $dishComment->description ?></div>
                                </p>
                            </li>
                            <?php endforeach; ?>
                            </ul>
                        </li>
                    </ul>
                </div>

            <?php endforeach; ?>
            <?php else: ?>
            <div class="alert alert-info">
                <strong><?= I18nWrapper::translate('sorry'); ?></strong> <?= I18nWrapper::translate('weDontHaveOffers'); ?>
            </div>
            <?php endif; ?>
        </dl>
    </div>

    <?php if (count($groupedDishes) > 0): ?>
        <div class="row-fluid">
            <div class="pagination pagination-medium">
                <ul>
                    <?php
                        $alphabet = range('A', 'Z');

                        foreach ($alphabet as $letter) {
                            echo '<li class="active"><a href="#'.$letter.'">'.$letter.'</a></li>';
                    }
                    ?>
                </ul>
            </div>
        </div>
    <?php endif; ?>

    <div class="patat-list">
        <dl>
            <dt><?= I18nWrapper::translate('moreSnacks'); ?> </dt>

            <?php if (count($unadvertisedDishes) > 0): ?>
                <?php foreach($unadvertisedDishes as $dish): ?>
                    <dd class="">
                        <div class="span3 hidden-phone">
                            <a class="image" href="<?= $app->url('Dishes::map', $unadvertisedDishes->user_id) ?>">
                                <?php if($dish->img): ?>
                                    <img width=100 src="<?= Asset::image(['uploads', $dish->img]) ?>" alt="" />
                                <?php else: ?>
                                    <img width=100 src="<?= Asset::image(['uploads', 'placeholder.png']) ?>" alt="" />
                                <?php endif; ?>
                            </a>
                        </div>
                        <div class="description span9">
                            <div class="row-fluid">
                                <h1>
                                    <?= $dish->name ?> <span class="price"><?= $dish->price ?> €</span>
                                </h1>
                                <?php if($dish->category_id != null): ?>
                                <div class="span8">
                                    <h4>
                                        <?= \models\Categories::getNameById($dish->category_id); ?>
                                    </h4>
                                </div>
                                <?php endif ?>
                                <p class="span8">
                                    <?= $dish->description ?>
                                </p>
                            </div>
                        </div>
                    </dd>

                    <?php
                        $dishComments = $commentsModel->getCommentsByDish($dish->id);
						$commentCount = $commentCount + 1;
                    ?>
                    <div>
                        <?php if($loggedInCustomer != null):?>
							<form id="<?= $commentCount ?>" method="POST" action="<?= $app->url('Imbiss::saveDishComment', ['handle'=>$restaurant->handle, 'customerId'=>$loggedInCustomer->id, 'DishId'=>$dish->id]) ?>">
								<fieldset>
								<?= UI::textAreaCounter($commentCount, null, null, I18nWrapper::translate('yourComment'), false, 1, 500) ?>
								</fieldset>
							</form>
                        <?php else :?>
							<p><?= I18nWrapper::translate('commentDisabled'); ?> <a href="<?= $app->url('Security::login')?>"><?= I18nWrapper::translate('navigateToLogin'); ?></a></p>
                        <?php endif; ?>

                        <ul class="expList">
                            <li>
                                <?php if($dishComments->count() == 0): ?>
									<?= I18nWrapper::translate('noComments'); ?>
								<?php else: ?>
									<?= I18nWrapper::translate('toggleComments'); ?>
								<?php endif; ?>
                                <ul>
                                <?php foreach($dishComments as $dishComment): ?>
                                <li>
                                <?php
                                   $userName = $usersModel->getUsernameByCustomerId($dishComment->created_by);
                                ?>
                                <p>
                                <div><span><?= I18nWrapper::translate('commentCreatedAt'); ?> </span><b><?= $dishComment->creation_date ?></b><span>, <?= I18nWrapper::translate('commentCreatedBy'); ?> </span><b><?= $userName ?></b></div>
                                <div><?= $dishComment->description ?></div>
                                </p>
                                </li>
                                <?php endforeach; ?>
                                </ul>
                            </li>
                        </ul>
                    </div>

                <?php endforeach; ?>
            <?php else: ?>
                <div class="alert alert-info">
                    <strong><?= I18nWrapper::translate('sorry'); ?> </strong> <?= I18nWrapper::translate('weDontHaveSnacks'); ?>
                </div>
            <?php endif; ?>
        </dl>
    </div>
</div>

<script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps/api/js?sensor=true"></script>

<?= UI::js(Asset::assets(['gmaps.js'])) ?>
<?= UI::js(Asset::assets(['jquery.patatmap.js'], ['path' => 'plugins'])) ?>
<?= UI::js(Asset::assets(['jquery.imbiss-index.js'], ['path' => 'views'])) ?>
<?= UI::js(Asset::assets(['jquery.expand-collapse-list.js'], ['path' => 'views'])) ?>
