<?php
    use ui\UI;
    use Scandio\lmvc\modules\assetpipeline\view\Asset;
    use Scandio\lmvc\modules\i18n\I18nWrapper;

    $errors['password'] = $errors['password'] ?: [];
    $errors['passwordRetyped'] = $errors['passwordRetyped'] ?: [];
    $errors['username'] = $errors['username'] ?: [];
    $errors['email'] = $errors['email'] ?: [];

?>

<div class="row-fluid">
    <?php if($error): ?>
    <div class="alert alert-error">
        <strong>Woopsi!</strong> <?= I18nWrapper::translate('youAreMissingSomeData'); ?>
    </div>
    <?php elseif($success): ?>
    <div class="alert alert-success">
        <strong><?= I18nWrapper::translate('veryGood'); ?></strong> <?= I18nWrapper::translate('everythingWorkedFine'); ?>
    </div>
    <?php endif; ?>

    <form id="registration-form" class="form-horizontal" method="POST" action="<?= $app->url('Registration::edit-customer') ?>">
        <fieldset class="span6">
            <legend><?= I18nWrapper::translate('userInformation'); ?></legend>
            <div class="control-group">
                <label class="control-label" for="username"><?= I18nWrapper::translate('username'); ?></label>
                <div class="controls">
                    <input type="text" readonly name="username" id="username" placeholder=<?= I18nWrapper::translate('username'); ?> value="<?= $user->username ?>" />

                    <?php foreach ($errors['username'] as $validator => $message): ?>
                    <span class="help-block <?= $validator ?>"><?= $message ?></span>
                    <?php endforeach ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password"><?= I18nWrapper::translate('password'); ?></label>
                <div class="controls">
                    <input type="password" name="password" id="password" placeholder=<?= I18nWrapper::translate('password'); ?> />

                    <?php foreach ($errors['password'] as $validator => $message): ?>
                    <span class="help-block <?= $validator ?>"><?= $message ?></span>
                    <?php endforeach ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="passwordRetyped"><?= I18nWrapper::translate('repeatPassword'); ?></label>
                <div class="controls">
                    <input type="password" name="passwordRetyped" id="password-retyped" placeholder= <?= I18nWrapper::translate('repeatPassword'); ?> />

                    <?php foreach ($errors['passwordRetyped'] as $validator => $message): ?>
                    <span class="help-block <?= $validator ?>"><?= $message ?></span>
                    <?php endforeach ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="fullname"><?= I18nWrapper::translate('firstAndSurname'); ?></label>
                <div class="controls">
                    <input type="text" name="fullname" id="fullname" placeholder=<?= I18nWrapper::translate('firstAndSurname'); ?> value="<?= $user->fullname ?>" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password"><?= I18nWrapper::translate('email'); ?></label>
                <div class="controls">
                    <input type="email" name="email" id="email" placeholder= <?= I18nWrapper::translate('email'); ?> value="<?= $user->email ?>" />

                    <?php foreach ($errors['email'] as $validator => $message): ?>
                    <span class="help-block <?= $validator ?>"><?= $message ?></span>
                    <?php endforeach ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password"><?= I18nWrapper::translate('phone'); ?></label>
                <div class="controls">
                    <input type="tel" name="phone" id="phone" placeholder= <?= I18nWrapper::translate('phone'); ?>  value="<?= $user->phone ?>" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password"><?= I18nWrapper::translate('mobile'); ?></label>
                <div class="controls">
                    <input type="tel" name="mobile" id="mobile" placeholder= <?= I18nWrapper::translate('mobile'); ?> value="<?= $user->mobile ?>" />
                </div>
            </div>

            <div class="control-group">
                <button class="btn btn-primary" type="submit" id="edit" name="edit" value="true"><?= I18nWrapper::translate('edit'); ?></button>
                <button class="btn" href="<?= $app->url('Application::index') ?>"><?= I18nWrapper::translate('reset'); ?></button>
            </div>
        </fieldset>
    </form>
</div>

<?= UI::js(Asset::assets(['jquery.nominatim.js'], ['path' => 'plugins'])) ?>
<?= UI::js(Asset::assets(['jquery.register.js'], ['path' => 'views'])) ?>
