<?php

    use ui\UI;
    use Scandio\lmvc\modules\assetpipeline\view\Asset;
    use Scandio\lmvc\modules\i18n\I18nWrapper;

    $errors['password'] = $errors['password'] ?: [];
    $errors['passwordRetyped'] = $errors['passwordRetyped'] ?: [];
    $errors['username'] = $errors['username'] ?: [];
    $errors['email'] = $errors['email'] ?: [];

    $errors['restaurant'] = $errors['restaurant'] ?: [];
    $errors['country'] = $errors['country'] ?: [];
    $errors['city'] = $errors['city'] ?: [];
    $errors['zip'] = $errors['zip'] ?: [];
    $errors['place'] = $errors['place'] ?: [];
    $errors['handle'] = $errors['handle'] ?: [];

?>

<div class="row-fluid">
    <?php if($error): ?>
        <div class="alert alert-error">
            <strong>Woopsi!</strong> <?= I18nWrapper::translate('youAreMissingSomeData'); ?>
        </div>
    <?php elseif($success): ?>
        <div class="alert alert-success">
            <strong><?= I18nWrapper::translate('veryGood'); ?></strong> <?= I18nWrapper::translate('everythingWorkedFine'); ?>
        </div>
    <?php endif; ?>

    <form id="registration-form" class="form-horizontal" method="POST" action="<?= $app->url('Registration::edit-restaurant') ?>">
        <fieldset class="span6">
            <legend> <?= I18nWrapper::translate('userInformation'); ?> </legend>
            <div class="control-group">
                <label class="control-label" for="username"><?= I18nWrapper::translate('username'); ?></label>
                <div class="controls">
                    <input type="text" readonly name="username" id="username" placeholder= <?= I18nWrapper::translate('username'); ?> value="<?= $user->username ?>" />

                    <?php foreach ($errors['username'] as $validator => $message): ?>
                        <span class="help-block <?= $validator ?>"><?= $message ?></span>
                    <?php endforeach ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password"><?= I18nWrapper::translate('password'); ?></label>
                <div class="controls">
                    <input type="password" name="password" id="password" placeholder= <?= I18nWrapper::translate('password'); ?> maxlength="30" data-indicator="pwindicator"/>

                    <?php foreach ($errors['password'] as $validator => $message): ?>
                        <span class="help-block <?= $validator ?>"><?= $message ?></span>
                    <?php endforeach ?>
                    
                    <div id="pwindicator">
	                    <div class="bar"></div>
	                    <div class="label"></div>
	                </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="passwordRetyped"><?= I18nWrapper::translate('repeatPassword'); ?></label>
                <div class="controls">
                    <input type="password" name="passwordRetyped" id="password-retyped" placeholder= <?= I18nWrapper::translate('repeatPassword'); ?> />

                    <?php foreach ($errors['passwordRetyped'] as $validator => $message): ?>
                        <span class="help-block <?= $validator ?>"><?= $message ?></span>
                    <?php endforeach ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="fullname"><?= I18nWrapper::translate('firstAndSurname'); ?></label>
                <div class="controls">
                    <input type="text" name="fullname" id="fullname" placeholder= <?= I18nWrapper::translate('firstAndSurname'); ?> value="<?= $user->fullname ?>" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password"><?= I18nWrapper::translate('email'); ?></label>
                <div class="controls">
                    <input type="email" name="email" id="email" placeholder= <?= I18nWrapper::translate('email'); ?> value="<?= $user->email ?>" />

                    <?php foreach ($errors['email'] as $validator => $message): ?>
                        <span class="help-block <?= $validator ?>"><?= $message ?></span>
                    <?php endforeach ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password"><?= I18nWrapper::translate('phone'); ?></label>
                <div class="controls">

                    <input type="tel" name="phone" id="phone" placeholder= <?= I18nWrapper::translate('phone'); ?>  value="<?= $user->phone ?>" />

                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password"><?= I18nWrapper::translate('mobile'); ?></label>
                <div class="controls">
                    <input type="tel" name="mobile" id="mobile" placeholder= <?= I18nWrapper::translate('mobile'); ?> value="<?= $user->mobile ?>" />
                </div>
            </div>
        </fieldset>

        <fieldset class="span6">
            <legend><?= I18nWrapper::translate('yourRestaurant'); ?></legend>
            <div class="control-group">
                <label class="control-label" for="restaurant"><?= I18nWrapper::translate('nameOfRestaurant'); ?></label>
                <div class="controls">
                    <input type="text" name="restaurant" id="restaurant" placeholder= <?= I18nWrapper::translate('nameOfRestaurant'); ?> value="<?= $user->restaurant ?>" />

                    <?php foreach ($errors['restaurant'] as $validator => $message): ?>
                        <span class="help-block <?= $validator ?>"><?= $message ?></span>
                    <?php endforeach ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="handle"><?= I18nWrapper::translate('domainForRestaurant'); ?></label>
                <div class="controls">
                    <input type="text" readonly name="handle" id="handle" placeholder= <?= I18nWrapper::translate('domainForRestaurant'); ?> value="<?= $user->handle ?>" />
                    <div id="handle-response-indicator" class="input-append">
                        <span class="add-on">✔</span>
                    </div>
                    <?php foreach ($errors['handle'] as $validator => $message): ?>
                        <span class="help-block <?= $validator ?>"><?= $message ?></span>
                    <?php endforeach ?>
                    <span class="help-block">www.sep007.tdeekens.name/imbiss/<?= $user->handle ?></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="city"><?= I18nWrapper::translate('country'); ?></label>
                <div class="controls">
                    <input type="text" name="country" id="country" placeholder= <?= I18nWrapper::translate('country'); ? value=""/>

                    <?php foreach ($errors['country'] as $validator => $message): ?>
                        <span class="help-block <?= $validator ?>"><?= $message ?></span>
                    <?php endforeach ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="city"><?= I18nWrapper::translate('city'); ?></label>
                <div class="controls">
                    <input type="text" name="city" id="city" placeholder= <?= I18nWrapper::translate('city'); ?> value="<?= $user->city ?>"/>

                    <?php foreach ($errors['city'] as $validator => $message): ?>
                        <span class="help-block <?= $validator ?>"><?= $message ?></span>
                    <?php endforeach ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="zip"><?= I18nWrapper::translate('zip'); ?></label>
                <div class="controls">
                    <input type="number" name="zip" id="zip" placeholder= <?= I18nWrapper::translate('zip'); ?> value="<?= $user->zip ?>"/>

                    <?php foreach ($errors['zip'] as $validator => $message): ?>
                        <span class="help-block <?= $validator ?>"><?= $message ?></span>
                    <?php endforeach ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="place"><?= I18nWrapper::translate('streetAndHouseNumber'); ?></label>
                <div class="controls">
                    <input type="text" name="place" id="place" placeholder= <?= I18nWrapper::translate('streetAndHouseNumber'); ?> value="<?= $user->street ?>"/>

                    <?php foreach ($errors['place'] as $validator => $message): ?>
                        <span class="help-block <?= $validator ?>"><?= $message ?></span>
                    <?php endforeach ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="place"><?= I18nWrapper::translate('findYourLocation'); ?></label>
                <div class="controls">
                    <a id="search-long-lat" class="btn btn-small" href="#"><i class="icon-search"></i></a>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="place"><?= I18nWrapper::translate('longitude'); ?></label>
                <div class="controls">
                    <input type="text" name="longitude" id="longitude" placeholder= <?= I18nWrapper::translate('longitude'); ?> value="<?= $user->longitude ?>" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="latitude"><?= I18nWrapper::translate('latitude'); ?></label>
                <div class="controls">
                    <input type="text" name="latitude" id="latitude" placeholder= <?= I18nWrapper::translate('latitude'); ?> value="<?= $user->latitude ?>" />
                </div>
            </div>
        </fieldset>

        <div class="control-group pull-right">
            <button class="btn btn-primary" type="submit" id="edit" name="edit" value="true"><?= I18nWrapper::translate('edit'); ?></button>
            <button class="btn" href="<?= $app->url('Application::index') ?>"><?= I18nWrapper::translate('reset'); ?></button>
        </div>
    </form>
</div>


<?= UI::js(Asset::assets(['jquery.nominatim.js', 'jquery.pwstrength.js'], ['path' => 'plugins'])) ?>
<?= UI::js(Asset::assets(['jquery.register.js', 'jquery.password-strength.js'], ['path' => 'views'])) ?>

