<?php
    use ui\UI;
    use Scandio\lmvc\modules\assetpipeline\view\Asset;
    use Scandio\lmvc\modules\security\Security;
?>

<?= UI::js(Asset::assets(['jquery.favorites.js'], ['path' => 'views'])) ?>

<div class="ios-list-wrap">
    <div class="row-fluid">
        <div class="pagination pagination-medium">
            <ul>
                <?php
                    $alphabet = range('A', 'Z');

                    foreach ($alphabet as $letter) {
                        echo '<li class="active"><a href="#'.$letter.'">'.$letter.'</a></li>';
                }
                ?>
            </ul>
        </div>
    </div>

    <div class="patat-list">
        <dl>
            <?php foreach($dishesGrouped as $groupedDishes): ?>
            <dt id="<?= $groupedDishes['sortLetter']?>" name="<?= $groupedDishes['sortLetter']?>"><?= $groupedDishes['sortLetter'] ?></dt>

            <?php foreach($groupedDishes['dishes'] as $dish): ?>
            <dd class="">
                <div class="span1">
                    <?php if(Security::get()->isAuthenticated()): ?>
                        <?php if(in_array($dish->dish_id,$dishesFavorite)): ?>
                            <a class="favorite-btn" href="#" data-dishid="<?= $dish->dish_id ?>">
                                <img width=100 src="<?= Asset::image(['favorite.png']) ?>"
                                     data-otherwise="<?= Asset::image(['not_favorite.png']) ?>" alt="" />
                            </a>
                        <?php else: ?>
                            <a class="favorite-btn" href="#" data-dishid="<?= $dish->dish_id ?>">
                                <img width=100 src="<?= Asset::image(['not_favorite.png']) ?>"
                                     data-otherwise="<?= Asset::image(['favorite.png']) ?>" alt="" />
                            </a>
                        <?php endif ?>
                    <?php endif ?>
                </div>
                <div class="span3 hidden-phone">
                    <a class="image" href="<?= $app->url('Dishes::map', $dish->user_id) ?>">
                        <?php if($dish->img): ?>
                        <img width=100 src="<?= Asset::image(['uploads', $dish->img], ['w' => 800, 'h' => 600]) ?>" alt="" />
                        <?php else: ?>
                        <img width=100 src="<?= Asset::image(['uploads', 'placeholder.png']) ?>" alt="" />
                        <?php endif; ?>
                    </a>
                </div>
                <div class="description span8">
                    <div class="row-fluid">
                        <h1>
                            <a href="
                                <?= $app->url('Imbiss::index', $dish->handle)
                                ?>"><?= $dish->restaurant ?>
                            </a>
                            <span class="distance">
                                <small>Beeline:</small> ~<?= $dish->distance ?>
                            </span>
                        </h1>

                        <div class="span8">
                            <h4><a href="<?= $app->url('Dishes::map', $dish->user_id) ?>"><?= $dish->street ?></a></h4>
                            <h5><a href="tel:<?= $dish->phone ?>"><?= $dish->phone ?></a></h5>
                        </div>

                        <div class="clearfix row-fluid">
                            <h2><?= $dish->name ?> <span class="price"><?= $dish->price ?> €</span></h2>
                            <?php if($dish->category_id != null): ?>
                                <div class="span8">
                                    <h4>
                                        <?= \models\Categories::getNameById($dish->category_id); ?>
                                    </h4>
                                </div>
                            <?php endif ?>
                            <p class="span8">
                                <?= $dish->description ?>
                            </p>
                        </div>
                    </div>
                    <div id="rating_<?= $dish->dish_id ?>_<?= $dish->location_id ?>" class="rating_container">
                        <?php
                            $stars=5;
                            $ratingLabel=array("1-Poor","2-Fair","3-Good","4-Very Good","5-Excellent");
                            for ($rated=1; $rated<=($dish->rating); $rated++ ){
                        ?>
                        <input id="inp_<?= $dish->dish_id ?>_<?= $dish->location_id ?>_<?= $rated ?>" name="potato_<?= $dish->dish_id ?>_<?= $dish->location_id ?>" type="radio"
                               class="potato required" style="display: none;" disabled="disabled" checked="checked" value="<?= $ratingLabel[$rated-1] ?>">
                        <?php
                                $stars--;
                            }
                            if($stars!=0):
                                $nonRated = (is_null($dish->rating)) ? 0 : intval($dish->rating);
                        for (; $nonRated<5; $nonRated++ ){
                        ?>
                        <input id="inp_<?= $dish->dish_id ?>_<?= $dish->location_id ?>_<?= ($nonRated + 1) ?>" name="potato_<?= $dish->dish_id ?>_<?= $dish->location_id ?>" type="radio"
                               class="potato required" style="display: none;" disabled="disabled" value="<?= $ratingLabel[$nonRated] ?>">
                        <?php
                                $stars--; }
                            endif;
                        ?>
                    </div>
                    <div id="avg_<?= $dish->dish_id ?>_<?= $dish->location_id ?>" class="rating_container">
                        &nbsp;
                        <?= (is_null($dish->rating)) ? '0.00' : $dish->rating ?>
                        (<?= (is_null($dish->num_rates)) ? '0' : $dish->num_rates ?> votes)
                    </div>
                    <div class="rateUs">
                        <a id="_<?= $dish->dish_id ?>_<?= $dish->location_id ?>" class="exp">Rate me!</a>
                        <div id="user_rating_<?= $dish->dish_id ?>_<?= $dish->location_id ?>" class="rate_me_conatainer">
                            <?php
                                $stars=5;
                                $dishCustomerRating = $dishesRatingMap[$dish->dish_id];
                            for ($rated=1; $rated<=($dishCustomerRating); $rated++ ){
                            ?>
                            <input name="user_potato_<?= $dish->dish_id ?>_<?= $dish->location_id ?>" type="radio"
                                   class="potato required" style="display: none;" checked="checked" value="<?= $ratingLabel[$rated-1] ?>">
                            <?php
                                    $stars--;
                                }
                                if($stars!=0):
                                    $nonRated = (is_null($dishCustomerRating)) ? 0 : $dishCustomerRating;
                                    for(; $nonRated<5; $nonRated++ ){
                            ?>
                            <input name="user_potato_<?= $dish->dish_id ?>_<?= $dish->location_id ?>" type="radio"
                                   class="potato required" style="display: none;" value="<?= $ratingLabel[$nonRated] ?>">
                            <?php
                                    $stars--;
                                }
                                endif;
                            ?>
                        </div>
                    </div>
                </div>
            </dd>
            <?php endforeach; ?>

            <?php endforeach; ?>
        </dl>
    </div>
</div>

<?= UI::js(Asset::assets(['jquery.rating.js'], ['path' => 'plugins'])) ?>
<?= UI::js(Asset::assets(['jquery.MetaData.js'], ['path' => 'plugins'])) ?>
<?= UI::js(Asset::assets(['jquery.expand-collapse-list.js'], ['path' => 'views'])) ?>
