<?php
    use ui\UI;
    use Scandio\lmvc\modules\assetpipeline\view\Asset;
    use Scandio\lmvc\modules\i18n\I18nWrapper;
?>

<h2><?= I18nWrapper::translate('weAreTryingToLocate'); ?></h2>

<h3><?= I18nWrapper::translate('youCanAlsoSpecifyYourAddress'); ?></h3>
<form id="location-form" class="form-horizontal" method="POST" action="<?= $app->url('Dishes::index') ?>">
    <fieldset>
        <div class="control-group">
            <div id="js-user-not-located" class="alert alert-error hidden">
                <?= I18nWrapper::translate('canNotLocateUser'); ?>
            </div>
            <div id="js-no-location" class="alert alert-error hidden">
                <?= I18nWrapper::translate('noLocationGiven'); ?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="country"><?= I18nWrapper::translate('country'); ?></label>
            <div class="controls">
                <input type="text" name="country" id="country" placeholder= <?= I18nWrapper::translate('country'); ?> />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="city"><?= I18nWrapper::translate('city'); ?></label>
            <div class="controls">
                <input type="text" name="city" id="city" placeholder= <?= I18nWrapper::translate('city'); ?> />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="zip"><?= I18nWrapper::translate('zip'); ?></label>
            <div class="controls">
                <input type="number" name="zip" id="zip" placeholder= <?= I18nWrapper::translate('zip'); ?> />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="place"><?= I18nWrapper::translate('streetAndHouseNumber'); ?></label>
            <div class="controls">
                <input type="text" name="place" id="place" placeholder= <?= I18nWrapper::translate('streetAndHouseNumber'); ?> />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="place"><?= I18nWrapper::translate('findMe'); ?></label>
            <div class="controls">
                <a id="search-long-lat" class="btn btn-primary btn-big" href="#"><i class="icon-search icon-white"></i></a>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="longitude"><?= I18nWrapper::translate('longitude'); ?></label>
            <div class="controls">
                <input type="text" name="longitude" id="longitude" placeholder= <?= I18nWrapper::translate('longitude'); ?> />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="latitude"><?= I18nWrapper::translate('latitude'); ?></label>
            <div class="controls">
                <input type="text" name="latitude" id="latitude" placeholder= <?= I18nWrapper::translate('latitude'); ?> />
            </div>
        </div>
    </fieldset>

    <div class="control-group">
        <button class="btn btn-primary" type="submit" id="findpatat" name="findpatat" disabled><?= I18nWrapper::translate('find'); ?> Patat!</button>
    </div>
</form>

<?= UI::js(Asset::assets(['geolocation.polyfill.js'], ['path' => 'polyfills'])) ?>
<?= UI::js(Asset::assets(['jquery.nominatim.js'], ['path' => 'plugins'])) ?>
<?= UI::js(Asset::assets(['application.index-reroute.js', 'jquery.application-index.js'], ['path' => 'views'])) ?>